<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.news.dao.news_categoryMapper">
    <select id="querynews_category" resultType="news_category">
        select * from  news_category
    </select>
</mapper>